h1{
    text-align:center;
    color:black;
    background-color:lightblue;
    width:500px;
    margin-left:auto;
    margin-right:auto;

}

label{
    display:block;

}

fieldset{
    width:80px;
    margin-left:auto;
    margin-right:auto;
}
